#weather-card {
  width: 100%;
  max-width: 420px;
}

#weather-icon {
  font-size: 120px;
  opacity: 0.9;
}

.transparent-bg {
  background-color: rgba(255, 255, 255, 0.227);
}

@media (max-width: 575px) {
  .border-erase {
    border-right: 1px solid rgba(255, 255, 255, 0.047) !important;
  }
}
