.weather-card {
  width: 100%;
  max-width: 420px;
  background: linear-gradient(
    to left top,
    #181149,
    #191951,
    #1a225a,
    #1c2a62,
    #1d326a,
    #1c3775,
    #1a3c81,
    #16418d,
    #12439f,
    #1645b1,
    #2246c2,
    #3245d3
  );
}

#weather-icon {
  font-size: 120px;
  opacity: 0.9;
}

.transparent-bg {
  background-color: rgba(255, 255, 255, 0.227);
}

@media (max-width: 575px) {
  .border-erase {
    border-right: 1px solid rgba(255, 255, 255, 0.047) !important;
  }
}
