*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(30, 30, 30);
}

main {
  color: white;
  text-align: justify;
  margin: 3rem;
}

section {
  margin-bottom: 2rem;
}

main p {
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 1rem;
}

.about-text,
.features-text,
.pricing-text {
  display: flex;
  gap: 3rem;
}

.square {
  background-color: rgb(57, 57, 57);
  flex: 1 1 300px;
  border-radius: 0.5rem;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

button {
  cursor: pointer;
}

/* navbar */

#menu-btn {
  display: none;
}

nav {
  background-color: rgb(57, 57, 57);
}

ul {
  display: flex;
}

#close-btn {
  display: none;
}

li {
  list-style: none;
}

li:not(:first-child):hover {
  background-color: grey;
}

a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  padding: 1rem 2rem;
  display: block;
}

.login {
  background-color: blue;
  margin-left: auto;
}

.login:hover {
  background-color: rgb(83, 83, 255);
}

@media (max-width: 768px) {
  #overlay {
    display: none;
  }
  #overlay.show {
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 9;
  }
  #menu-btn {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
    font-size: 1.5rem;
  }
  nav {
    position: fixed;
    top: 0;
    right: -16em;
    z-index: 10;
    height: 100vh;
    width: min(15em, 100%);
    transition: right 300ms ease-out;
  }
  nav.show {
    right: 0;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  li {
    width: 100%;
  }
  li:not(:last-child) {
    border-bottom: 1px solid rgb(125, 125, 125);
  }
  .login {
    margin: 0 auto;
  }
  li:first-child {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: none;
    padding: 1rem;
  }
  #close-btn {
    display: block;
    background-color: rgb(75, 75, 75);
    color: rgb(204, 204, 204);
    border: none;
  }
  .about-text,
  .features-text,
  .pricing-text {
    flex-direction: column;
  }
}
