*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(30, 30, 30);
}

button {
  cursor: pointer;
}

#menu-btn {
  display: none;
}

nav {
  background-color: rgb(57, 57, 57);
}

ul {
  display: flex;
}

#close-btn {
  display: none;
}

li {
  list-style: none;
}

li:hover {
  background-color: grey;
}

a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  padding: 1rem 2rem;
  display: block;
}

.login {
  background-color: blue;
  margin-left: auto;
}

.login:hover {
  background-color: rgb(83, 83, 255);
}

@media (max-width: 769px) {
  #menu-btn {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
    font-size: 1.5rem;
  }
  nav {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.2s ease;
    z-index: 10;
    height: 100vh;
    width: min(15em, 100%);
  }
  nav.show {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  li {
    width: 100%;
  }
  li:not(:last-child) {
    border-bottom: 1px solid rgb(125, 125, 125);
  }
  .login {
    margin: 0 auto;
  }
  li:first-child {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: none;
    padding: 1rem;
  }
  #close-btn {
    display: block;
    background-color: rgb(75, 75, 75);
    color: rgb(204, 204, 204);
    border: none;
  }
}
