*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(26, 30%, 91%);
}

#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.785);
  z-index: 9;
}

#close-btn {
  display: none;
  position: fixed;
  top: 3rem;
  right: 3rem;
  background: none;
  border: none;
  color: rgb(199, 199, 199);
  z-index: 10;
  cursor: pointer;
}

#close-btn i {
  font-size: 1.5rem;
}

#prev,
#next {
  display: none;
  position: fixed;
  top: 50%;
  color: rgb(199, 199, 199);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

#prev i,
#next i {
  font-size: 2rem;
}

#prev {
  left: 3rem;
}

#next {
  right: 3rem;
}

#prev:disabled {
  opacity: 0.3;
  filter: grayscale(1);
  cursor: not-allowed;
}

#next:disabled {
  opacity: 0.3;
  filter: grayscale(1);
  cursor: not-allowed;
}

#img-highlight {
  position: fixed;
  scale: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 6rem;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

main {
  margin: 4rem 6rem;
}

.description {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.gallery {
  columns: 400px;
  margin: 3rem 0;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.gallery-item {
  margin-bottom: 1.5rem;
}

.gallery-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
