*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(26, 30%, 91%);
  font-family: "Funnel Sans", sans-serif;
}

#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.785);
  z-index: 9;
}

#close-btn {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: rgb(199, 199, 199);
  z-index: 10;
  cursor: pointer;
}

#close-btn i {
  font-size: 1.5rem;
}

#prev,
#next {
  display: none;
  position: fixed;
  top: 50%;
  color: rgb(199, 199, 199);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

#prev i,
#next i {
  font-size: 2rem;
}

#prev {
  left: 1rem;
}

#next {
  right: 1rem;
}

#prev:disabled {
  opacity: 0.3;
  filter: grayscale(1);
  cursor: not-allowed;
}

#next:disabled {
  opacity: 0.3;
  filter: grayscale(1);
  cursor: not-allowed;
}

#img-highlight {
  position: fixed;
  scale: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 6rem;
}

.logo {
  background: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  background-color: rgb(96, 17, 17);
  border: none;
}

.logo i {
  font-size: 1rem;
}

.menu {
  display: none;
  background: none;
  border: none;
}

.menu i {
  font-size: 1.3rem;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

nav li {
  padding: 1rem 0.5rem;
  transition: 0.4s ease;
}

nav li:hover {
  border-bottom: 5px solid brown;
}

nav li:nth-of-type(3) {
  border-bottom: 5px solid brown;
}

nav a {
  text-decoration: none;
  color: black;
}

.btn-wrapper {
  display: flex;
  gap: 1rem;
}

.btn-wrapper button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn-wrapper button:first-child {
  background-color: rgb(254, 234, 234);
  border: 2px solid black;
  transition: 0.4s ease;
}

.btn-wrapper button:first-child:hover {
  background-color: #dfd0d0;
}

.btn-wrapper button:nth-child(2) {
  background-color: black;
  color: rgb(254, 234, 234);
  border: none;
  transition: 0.4s ease;
}

.btn-wrapper button:nth-child(2):hover {
  background-color: rgb(81, 81, 81);
}

main {
  margin: 4rem 6rem;
}

h1 {
  font-size: 3rem;
  font-family: "Faculty Glyphic", sans-serif;
}

.description {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.gallery {
  columns: 400px;
  margin: 3rem 0;
}

.wrap {
  display: flex;
  justify-content: space-between;
  color: grey;
  font-size: 0.9rem;
}

.gallery-item {
  margin-bottom: 1.5rem;
}

.gallery-img-wrap {
  overflow: hidden;
}

.gallery-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: 1.5s ease;
}

.gallery-item:hover img {
  scale: 1.2;
}

@media (max-width: 768px) {
  header nav,
  .btn-wrapper {
    display: none;
  }
  .menu {
    display: block;
  }
  header {
    margin: 2rem 3rem;
  }
  main {
    margin: 2rem 3rem;
  }
  h1 {
    font-size: 2rem;
  }
  .gallery {
    margin: 2rem 0;
  }
  #prev {
    left: 1px;
  }

  #next {
    right: 1px;
  }
}
