body {
  font-family: Calibri, sans-serif;
}

main {
  padding: 0 3rem 1.5rem 3rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* NavBar */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  background-color: whitesmoke;
}

header button {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

nav a:hover {
  font-weight: 600;
}
