@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Limelight&display=swap");

body {
  font-family: Calibri, sans-serif;
}

main {
  padding: 0 3rem 1.5rem 3rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* NavBar */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  background-color: whitesmoke;
}

header button {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

nav a:hover {
  font-weight: 600;
}

/* intro */

#intro {
  height: 100vh;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#intro p {
  font-family: "Elms Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

#intro h1 {
  font-family: "Limelight", sans-serif;
  font-size: 6rem;
  line-height: 6rem;
}

/* About */

h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

#about,
#projects,
#contact {
  padding-top: 5rem;
}

#projects,
#contact {
  margin-top: 1.5rem;
}

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

#profile-pic {
  width: 50%;
  max-width: 300px;
}

#para-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

#para-wrapper p {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 1rem;
}

#hello {
  font-size: 3rem;
}

span {
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

#skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#skills ol {
  display: flex;
  gap: 4rem;
  list-style: none;
}

ol li {
  font-size: 1.5rem;
}

/* Projects */

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem 0;
  width: 100%;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}

.card {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.4s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 100;
}

/* Contact */

fieldset {
  margin: 3rem auto;
  padding: 3rem 6rem;
  max-width: 900px;
  border-radius: 1rem;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(200, 200, 200);
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

form {
  display: block;
  width: 100%;
}

label {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
}

input::placeholder {
  color: #999;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

textarea {
  height: 10rem;
  border-radius: 5px;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  width: 100%;
}

textarea::placeholder {
  color: #999;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.btn-wrapper button {
  width: 50%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  transition: 0.4s;
}

.btn-wrapper button:hover {
  background-color: grey;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  color: white;
  background-color: black;
  padding: 0 3rem;
}

footer p {
  font-size: 0.8rem;
  color: gainsboro;
}

#icon-wrapper {
  display: flex;
  gap: 1rem;
}

footer img {
  width: 20px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }
  #profile-pic {
    width: 50%;
    max-width: 250px;
  }
  #para-wrapper p {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 1rem;
  }
  #hello {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  #skills ol {
    gap: 3rem;
  }
  ol li {
    font-size: 1.2rem;
  }
  #card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 3rem 0;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 2.5rem 1.5rem 2.5rem;
  }
  header nav {
    visibility: hidden;
  }
  header button {
    display: block;
    border: none;
    background-color: white;
    align-self: flex-end;
  }
  #menu-logo {
    width: 20px;
  }
  #intro h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  #intro p {
    font-size: 1.3rem;
  }
  #vertical-line,
  #name-year span {
    display: none;
  }
  #about-wrapper {
    flex-direction: column;
    gap: 3rem;
  }
  #profile-pic {
    width: 100%;
    margin-top: 1rem;
  }
  #para-wrapper {
    width: 100%;
  }
  #para-wrapper p {
    margin: 0.5rem;
  }
  #skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin-top: 1rem;
  }
  #skills ol {
    display: flex;
    gap: 1rem;
  }
  #card-container {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 3rem 0;
  }
  fieldset {
    padding: 2rem;
    max-width: 100%;
    margin: 2rem 1rem;
  }
  label {
    font-size: 1.2rem;
  }
  textarea {
    height: 7rem;
  }
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .btn-wrapper button {
    width: 100%;
    font-size: 0.8rem;
  }
  footer {
    flex-direction: column;
    justify-content: space-around;
  }
}
