@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Limelight&display=swap");

body {
  font-family: Calibri, sans-serif;
}

main {
  padding: 0 3rem 1.5rem 3rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* NavBar */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  background-color: whitesmoke;
}

header button {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

nav a:hover {
  font-weight: 600;
}

/* intro */

#intro {
  height: 100vh;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#intro p {
  font-family: "Elms Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

#intro h1 {
  font-family: "Limelight", sans-serif;
  font-size: 6rem;
  line-height: 6rem;
}
