@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Limelight&display=swap");

body {
  font-family: Calibri, sans-serif;
}

main {
  padding: 0 3rem 1.5rem 3rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* NavBar */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  background-color: whitesmoke;
}

header button {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

nav a:hover {
  font-weight: 600;
}

/* intro */

#intro {
  height: 100vh;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#intro p {
  font-family: "Elms Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

#intro h1 {
  font-family: "Limelight", sans-serif;
  font-size: 6rem;
  line-height: 6rem;
}

/* About */

h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

#about,
#projects,
#contact {
  padding-top: 5rem;
}

#projects,
#contact {
  margin-top: 1.5rem;
}

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

#profile-pic {
  width: 50%;
  max-width: 300px;
}

#para-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

#para-wrapper p {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 1rem;
}

#hello {
  font-size: 3rem;
}

span {
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

#skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#skills ol {
  display: flex;
  gap: 4rem;
  list-style: none;
}

ol li {
  font-size: 1.5rem;
}

/* Projects */

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem 0;
  width: 100%;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}

.card {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.4s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 100;
}
